.status {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.control {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.vnc {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.terminal-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.spinner::ng-deep circle {
    stroke: #000;
}