<div style="text-align: center;">
  <h1>
    VM Provisioning Prototype
  </h1>
</div>

<div class="status">
  <mat-spinner *ngIf="state == 'Starting'" class="spinner" diameter="70"></mat-spinner>
</div>

<div class="control">
  <button mat-raised-button *ngIf="state == 'Stopped'" type="submit" color="primary" (click)="createVm()">Create VM</button>
  <button mat-raised-button *ngIf="state == 'Running'" type="submit" color="warn" (click)="deleteVm()">Delete VM</button>
  <button mat-raised-button *ngIf="state == 'Starting'" type="submit" color="warn" (click)="deleteVm()">Cancel</button>
</div>

<div *ngIf="state == 'Running'" class="vnc">
  <app-vnc></app-vnc>
</div>

<div *ngIf="state == 'Running'" class="terminal-container">
  <app-terminal></app-terminal>
</div>