.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    min-width: 30em;
}

.loading-title {
    margin-bottom: 1em;
}

.terminal {
    width: auto;
}