<div *ngIf="!connected" class="loading-container">
    <div class="loading-title">Connecting to Console</div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<ng-terminal [style.visibility]="!connected ? 'hidden' : 'visible'" class="terminal" #term></ng-terminal>